@page
@model Toolbox.Pages.PsHelloWorldSignalRModel
@{
}

<input name="command" id="commandText">
<button id="executeButton">Execute</button>
<span style="white-space: pre-line">
    <samp>
        <div id="output"></div>
    </samp>
</span>

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script>
    // Invoke the "Stream" method, with the command
    document.getElementById("executeButton").addEventListener("click", () => {
        var command = document.getElementById("commandText").value;
        var connection = new signalR.HubConnectionBuilder().withUrl("/stream").build();
        var output = document.getElementById("output");
        output.innerHTML = '';

        connection
            .start()
            .then(() => {
                connection.on("OutputReceived", message => {
                    var p = document.createElement("p");
                    p.textContent = message;
                    output.appendChild(p);
                });
                connection.invoke("Stream", command);
            }).catch(err => alert(`An error occured: ${err}`));
    });
</script>
