@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section pageHeader {
    <!-- Content Header (Page header) -->
    <!--<div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">SpecOps Home</h1>
                </div>--><!-- /.col -->
            <!--</div>--><!-- /.row -->
        <!--</div>--><!-- /.container-fluid -->
    <!--</div>-->
    <!-- /.content-header -->
}

<div class="row">
    <!-- /.col-md-6 -->
    <div class="col-lg-8">
        <img src="@Url.Content("~/dist/img/banner-SpecOps.png")" alt="SpecOps Banner">
        @*<div class="card">
            <div class="card-header">
                <h5 class="m-0">Featured</h5>
            </div>
            <div class="card-body">
                <img src="@Url.Content("~/dist/img/banner-SpecOps.png")" alt="SpecOps Banner">
            </div>
        </div>*@
    </div>
    <!-- /.col-md-6 -->
</div>